@font-face {
    font-family: "Satoshi";
    src: url(../assets/fonts/Satoshi-Variable.woff2);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Satoshi";
    src: url(../assets/fonts/Satoshi-VariableItalic.woff2);
    font-style: italic;
    font-weight: normal;
}

body {
    background-color: #fefa;
}

.headline {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 100px 50px;
    background-color:#f5fff8;
    color: #099c72;
    margin-bottom: 60px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 40px;
}

.home-container {
    width: 100%;
    display: flex;

}

.blog-list {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h1 {
    font-family: "Satoshi";
    font-weight: 100;
    font-size: 42px;
}

h2 {
    font-family: "Satoshi";
    font-size: 32px;
}

p {
    font-family: "Satoshi";
}
